In [1]:
def celsius_fahrenheit(C):
    # F = (C * 9/5) + 32
    fahrenheit = (C * (9/5)) + 32
    print(fahrenheit)
    return fahrenheit

In [3]:
boilingF = celsius_fahrenheit(100)

212.0

In [5]:
print(boilingF)

212.0

In [16]:
def fahrenheit_celsius(F=None):
    if F == None:
        print("Celsius Boiling Point = 100.")
        return
    # C = (F-32)*5/9
    celsius = (F-32)*5/9
    print(celsius)
    return celsius

In [21]:
fahrenheit_celsius()

Celsius Boiling Point = 100.

In [22]:
import pandas as pd

In [44]:
dem_health_data = pd.read_csv("Dem_Health_Full.txt",sep = '\t')

In [36]:
dem_health_data.sort_values(by="Population_Density")

,County,State,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
249,Broomfield,CO,-2222,5.1,NaN,-2222.2,-2222.2,-2222.2
87,Skagway-Hoonah-Angoon,AK,0,11.6,NaN,-1111.1,285.0,161.0
84,Northwest Arctic,AK,0,17.0,11.0,67.4,1631.0,394.0
1601,Carter,MT,0,12.2,NaN,-1111.1,126.0,161.0
1749,Esmeralda,NV,0,11.8,NaN,-1111.1,84.0,113.0
1750,Eureka,NV,0,10.6,NaN,-1111.1,182.0,124.0
2651,Kenedy,TX,0,13.2,NaN,-1111.1,64.0,40.0
1753,Lincoln,NV,0,13.5,11.4,29.4,490.0,443.0
2655,King,TX,0,14.9,NaN,-1111.1,26.0,12.0
2742,Terrell,TX,0,18.0,NaN,-1111.1,95.0,132.0
1612,Garfield,MT,0,11.6,NaN,-1111.1,170.0,158.0
67,Aleutians East,AK,0,11.7,NaN,-1111.1,222.0,73.0
1794,Catron,NM,0,18.9,NaN,-1111.1,254.0,278.0
1630,Petroleum,MT,0,11.9,NaN,-1111.1,47.0,33.0
70,Bethel,AK,0,20.9,12.9,34.3,4132.0,816.0
2390,Harding,SD,0,12.7,NaN,-1111.1,153.0,108.0
82,Nome,AK,0,17.4,11.2,63.8,2067.0,599.0
72,Denali,AK,0,6.6,NaN,-1111.1,26.0,6.0
73,Dillingham,AK,0,18.1,11.4,21.8,1003.0,251.0
2671,Loving,TX,0,13.4,NaN,-1111.1,2.0,5.0
93,Yukon-Koyukuk,AK,0,17.5,6.5,91.3,1211.0,544.0
92,Yakutat,AK,0,10.8,NaN,-1111.1,87.0,44.0
83,North Slope,AK,0,11.6,9.5,35.7,1487.0,333.0
1804,Harding,NM,0,13.1,NaN,-1111.1,51.0,96.0
90,Wade Hampton,AK,0,25.1,10.3,66.5,2158.0,358.0
89,Valdez-Cordova,AK,0,9.1,5.0,13.1,1315.0,480.0
88,Southeast Fairbanks,AK,0,15.7,5.8,33.1,980.0,322.0
80,Lake and Peninsula,AK,0,16.6,NaN,-1111.1,292.0,139.0
1654,Arthur,NE,1,9.8,NaN,-1111.1,50.0,41.0
2589,Edwards,TX,1,22.8,NaN,-1111.1,248.0,190.0
...,...,...,...,...,...,...,...,...
1310,Wayne,MI,3254,16.5,11.2,10.3,88716.0,59647.0
369,Pinellas,FL,3315,12.1,7.6,16.3,27592.0,37641.0
2923,Fairfax City,VA,3481,5.5,6.7,13.2,3271.0,2080.0
258,Denver,CO,3638,15.1,6.7,14.2,34354.0,13530.0
2933,Manassas City,VA,3783,7.5,4.5,-1111.1,3593.0,959.0
213,Orange,CA,3785,10.6,4.7,7.6,135702.0,51060.0
3086,Milwaukee,WI,3815,16.2,10.4,11.4,43885.0,26557.0
1773,Bergen,NJ,3854,6.1,4.4,6.2,31845.0,22741.0
2917,Charlottesville City,VA,3941,17.8,7.4,11.6,2553.0,1737.0
2937,Norfolk City,VA,4317,19.8,11.0,12.6,12143.0,6226.0
1855,Nassau,NY,4650,5.9,4.7,4.8,48734.0,33965.0
2934,Manassas Park City,VA,4667,6.5,6.3,-1111.1,1915.0,347.0
1791,Union,NJ,5145,9.9,6.1,5.4,22768.0,13636.0
2924,Falls Church City,VA,5418,3.0,5.4,9.4,1866.0,790.0
1595,St. Louis City,MO,5561,21.3,12.8,13.1,15755.0,12366.0
608,Cook,IL,5608,14.5,8.5,7.5,247949.0,134307.0
1778,Essex,NJ,6265,14.4,8.6,5.5,36577.0,21091.0
2824,Arlington,VA,7575,7.4,4.2,7.6,8541.0,3244.0
1214,Baltimore City,MD,7869,19.6,11.1,8.2,28958.0,24321.0
1868,Richmond,NY,7944,10.1,5.0,6.0,17514.0,11023.0
2913,Alexandria City,VA,8915,8.8,5.9,8.5,7852.0,2432.0
317,Washington,DC,8966,17.5,10.9,6.0,22742.0,17375.0
2292,Philadelphia,PA,10832,20.1,10.4,10.7,64853.0,50895.0
1227,Suffolk,MA,11183,15.9,6.1,5.7,28649.0,16317.0
1780,Hudson,NJ,12926,15.0,7.4,4.8,26507.0,13726.0
221,San Francisco,CA,15837,12.0,3.9,11.0,25255.0,18969.0
1866,Queens,NY,20520,15.4,5.2,4.7,92216.0,47876.0
1828,Bronx,NY,32300,26.8,6.8,5.8,68201.0,30886.0
1849,Kings,NY,35211,23.3,6.5,4.6,119171.0,54937.0
1856,New York,NY,69390,18.6,4.9,8.2,60627.0,34423.0

In [53]:
def get_urban(df, threshold):
    urban = df.loc[df['Population_Density'] >= threshold, :]
    return urban

In [56]:
urban_counties = get_urban(dem_health_data, 100)
urban_counties.head()

,County,State,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
1,Baldwin,AL,102,10.2,7.1,14.3,5471.0,4388.0
7,Calhoun,AL,184,16.4,9.5,13.6,4429.0,3915.0
21,Cullman,AL,108,13.3,6.9,9.1,4897.0,4405.0
25,Elmore,AL,119,12.5,7.6,8.5,4707.0,2823.0
27,Etowah,AL,193,15.7,8.7,15.7,3810.0,4020.0

In [61]:
urban_counties.sort_values(by = "Population_Density").tail(5)

,County,State,Population_Density,Poverty,Infant_Mortality,Suicide,Total_Births,Total_Deaths
221,San Francisco,CA,15837,12.0,3.9,11.0,25255.0,18969.0
1866,Queens,NY,20520,15.4,5.2,4.7,92216.0,47876.0
1828,Bronx,NY,32300,26.8,6.8,5.8,68201.0,30886.0
1849,Kings,NY,35211,23.3,6.5,4.6,119171.0,54937.0
1856,New York,NY,69390,18.6,4.9,8.2,60627.0,34423.0

In [69]:
def split_county_by_pop(df, threshold):
    rural_county = df.loc[df['Population_Density'] <  threshold, :]
    urban_county = df.loc[df['Population_Density'] >= threshold, :]
    return [urban_county, rural_county]

In [83]:
urban_rural_counties = split_county_by_pop(dem_health_data, 500)

In [85]:
len(urban_rural_counties[0])

235

In [86]:
import pygal

ModuleNotFoundError: No module named 'pygal'

In [87]:
import pygal